<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= @user.id %>
      </h1>
      <h3>Steps</h3>
		<div id="learn">
		<%= render :partial => @user.courses %>
		</div>
    </section>
  </aside>
</div>
